<html>
<head>
    <title>Dashboard Gadget: Interface</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body class="dashboard">

    <section class="container">
        <h1>Dashboard Gadget: Dasboard (provisorisch)</h1>

        <div class="row _margined-top">
            <div class="col-md-8">
                <div id="section-create" class="row">
                    <div class="col-xs-12">
                        <h4>Benutzer erstellen</h4>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input class="form-control" id="input-username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input class="form-control" id="input-password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn-create">Benutzer erstellen</button>
                        </div>
                    </div>
                </div>
                <div id="section-login" class="row">
                    <div class="col-xs-12">
                        <h4>Einloggen</h4>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="login-username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <input class="form-control" id="login-password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label class="hidden" for="selectGadget">Wähle dein Gadget aus</label>
                        <select class="selectGadget form-control" id="selectGadget">
                            <option value="1">Gadget 1</option>
                            <option value="2">Gadget 2</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" id="btn-login">Login</button>
                        </div>
                    </div>
                </div>
                <div id="section-user">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Hallo <span id="element-username"></span></h4>
                        </div>
                        <div class="col-xs-12">
                            <h5>Benutzer verwalten</h5>
                        </div>
                        <div class="col-xs-11 col-xs-offset-1">
                            <form id="form-user-settings">
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label for="setting-harvest-domain">Harvest domain</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" id="setting-harvest-domain" class="form-control" placeholder="foo-bar.harvestapp.com">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label for="setting-harvest-email">Harvest email</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" id="setting-harvest-email" class="form-control" placeholder="xyz@foo-bar.com">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-4">
                                        <label for="setting-harvest-password">Harvest password</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="password" id="setting-harvest-password" class="form-control" placeholder="************">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success">Settings Speichern</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12">
                            <h5>Apps verwalten</h5>
                        </div>
                    </div>
                </div>
                <div id="section-logout" class="row">
                    <div class="col-xs-12">
                        <h4>Ausloggen</h4>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button class="btn btn-danger btn-block" id="btn-logout">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="console-output" class="console-output">
                    Output vom Server:
                </div>
            </div>
        </div>
        <div class="row _margined-top">
            <div class="col-md-8">

            </div>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>