<html>
<head>
    <title>Dashboard Gadget: Interface</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>

    <section class="container">
        <h1>Dashboard Gadget: Dasboard (provisorisch)</h1>

        <div class="row _margined-top">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Benutzer erstellen</h4>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input class="form-control" id="input-username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <input class="form-control" id="input-password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn-create">Benutzer erstellen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="console-output" class="console-output">
                    Output vom Server:
                </div>
            </div>
        </div>
        <div class="row _margined-top">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Einloggen</h4>
                    </div>
                    <div class="col-sm-2 col-lg-3">
                        <div class="form-group">
                            <input class="form-control" id="login-username" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="col-sm-2 col-lg-3">
                        <div class="form-group">
                            <input class="form-control" id="login-password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="col-sm-2 col-lg-3">
                        <select class="selectGadget" id="selectGadget">
                            <option value="1">Gadget 1</option>
                            <option value="2">Gadget 2</option>
                        </select>
                    </div>
                    <div class="col-sm-2 col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn-login">Login</button>
                        </div>
                    </div>
                    <div class="col-sm-2 col-lg-3">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btn-logout">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="console-output-login" class="console-output">
                    Output vom Server:
                </div>
            </div>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>