<html>
<head>
    <title>Dashboard Gadget: Interface</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Interaktives Dashboard-Gadget: Image-Helper</h1>
    </div>

    <section class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <canvas id="display" width="320" height="240" class="display"></canvas>
            </div>
            <div class="col-md-12 col-lg-4">
                <canvas id="display-output" width="320" height="240" class="display -second"></canvas>
            </div>
        </div>

        <div class="row _margined-top">
            <div class="col-xs-6 col-lg-4">
                <div class="form-group">
                    <label for="btn-image-upload" class="hidden">Png hochladen</label>
                    <input type="file" id="btn-image-upload">
                </div>
            </div>
            <div class="col-xs-6 col-lg-4">
                <button id="btn-convert" class="btn btn-success">Start / Convert</button>
            </div>
        </div>

        <div class="row _margined-top">
            <div class="col-xs-12">
                <div id="output" class="output-result">Output...</div>
            </div>
        </div>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var start = document.getElementById('btn-convert');
        var upload = document.getElementById('btn-image-upload');
        var output = document.getElementById('output');
        var canvas = document.getElementById("display");
        var context = canvas.getContext("2d");
        var canvasOutput = document.getElementById("display-output");
        var contextOutput = canvasOutput.getContext("2d");

        var image = new Image();
        var fr = new FileReader();

        generateOutput = function () {

            var outputString = '"" + <br>';
            var outputStringCanvas = '';
            var oneLine = "";
            var char = 0;
            var data;
            var imageWidth = 320;
            var imageHeight = 240;

            for (var i = 0; i < imageHeight; i++) {
                for (var j = 0; j < imageWidth; j++) {
                    char = '0';
                    data = context.getImageData(j,i,1,1).data;
                    if (data[0] === 0 && data[1] === 0 && data[2] === 0 && data[3] === 255) {
                        char = '1';
                    } else if (data[0] < 85 && data[1] < 85 && data[2] < 85 && data[3] === 255) {
                        char = '1';
                    } else if (data[0] < 255 && data[1] < 255 && data[2] < 255 && data[3] === 255) {
//                        console.log(data);
                    }
                    oneLine += char;
                    outputStringCanvas += char;
                }

                outputString += '"' + oneLine + '" + <br>';
                oneLine = "";
            }

            outputString += '"";';
            output.className += ' -filled';
            output.innerHTML = outputString;

            // now draw to the output-canvas
            contextOutput.fillStyle = "#ffffff";
            contextOutput.fillRect(0, 0, imageWidth, imageHeight);

            contextOutput.fillStyle = "#000000";
            var draw = outputStringCanvas.split("");
            var x = 0;
            for (var i = 0; i < imageHeight; i++) {
                for (var j = 0; j < imageWidth; j++) {
                    if (draw[x] === '1') {
                        contextOutput.fillRect(j, i, 1, 1);
                    }
                    x++;
                }
            }
         };

        loadImageToCanvas = function () {
            image.src = fr.result;
            context.drawImage(image, 0, 0);
            generateOutput();
        };

        start.onclick = function () {

            output.innerHTML = 'Output...';

            if (upload.files.length > 0) {
                var file = upload.files[0];

                if (file.type !== 'image/png') {
                    output.innerHTML = 'Please upload a PNG!';
                    return;
                }
                console.log(file);

                fr.onload = loadImageToCanvas;   // onload fires after reading is complete
                fr.readAsDataURL(file);

            } else {
                output.innerHTML = 'Please select a file first.';
            }
        }

    </script>

</body>
</html>