<html>
<head>
    <title>Dashboard Gadget</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

</head>
<body>
    <h1>Interaktives Dashboard-Gadget</h1>

    <br>
    <br>
    <a href="/dashboard"> => DASHBOARD</a>
    <br>
    <br>
    <a href="/simulator"> => ARDUINO SIMULATOR</a>
    <br>
    <br>
    <a href="/image-helper"> => BILDUMWANDLER</a>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>