

// Margins
._margined-top      { margin-top: $base-unit-horizontal * 2; }
._margined-bottom   { margin-bottom: $base-unit-horizontal * 2; }

// Text

._text-left         { text-align: left; }
._text-right        { text-align: right; }
._text-center       { text-align: center; }
._text-italic       { font-style: italic; }